{# Liste des stagiaires  #}

{% extends 'base.html.twig' %}

{% block title %}Liste des stagiaires{% endblock %}

{% block body %}

<section id="stagiaires">

  <h1>Liste des stagiaires</h1>
  
  <table class="table table-striped">
      <thead>
        <tr class="table-dark">
          <th scope="col">Prénom</th>
          <th scope="col">Nom</th>
          <th scope="col">Téléphone</th>
          <th scope="col">Ville</th>
        </tr>
      </thead>
      <tbody>
          
          {% for stagiaire in stagiaires %}
          <tr>
              <td><a href=" {{ path('show_stagiaire', {'id': stagiaire.id})}}  ">{{ stagiaire.prenom }}</a></td>
              <td>{{ stagiaire.nom }}</td>
              <td>{{ stagiaire.telephone }}</td>
              <td>{{ stagiaire.ville }}</td>
              <td><a href="{{ path('edit_stagiaire', {'id': stagiaire.id}) }}">Modifier</a></td>
          </tr>
          
          {% endfor %}
      </tbody>
  </table>

  <a href="{{ path('new_stagiaire') }}">Ajouter un stagiaire</a>
</section>
{% endblock %}
