{# formulaire d'ajout ou modification d'un stagiaire #}


{% extends 'base.html.twig' %}

{% block title %}Formulaire stagiaire{% endblock %}

{% block body %}

{# s'il recoit edit alors c'est une modification #}
{% if edit %}
       <h2>Modifier le stagiaire</h2>
       
{% else %}
   <h2>Ajouter un stagiaire</h2>
{% endif %}


{# recupere le formulaire automatiquement  #}
{# {{ form(formAddStagiaire) }} #}

{# possibilité de detailler #}

<section class="sessions-form">

    {{ form_start(formAddStagiaire) }}
        
    
    <div class="row">
            <div class="col-sm">
                {{ form_row(formAddStagiaire.prenom) }}
            </div>
            <div class="col-sm">
                {{ form_row(formAddStagiaire.nom) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                {{ form_row(formAddStagiaire.sexe) }}
            </div>
            <div class="col-sm">
                {{ form_row(formAddStagiaire.ville) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                {{ form_row(formAddStagiaire.dateNaissance) }}
            </div>
            <div class="col-sm">
                {{ form_row(formAddStagiaire.telephone) }}
            </div>
        </div>
        {{ form_row(formAddStagiaire.mail) }}
        <div class="btn-container">
            <div class="add-btn">
                {{ form_row(formAddStagiaire.Valider) }}
            </div>
        </div>   
    </div>
        {{ form_end(formAddStagiaire) }}

</section>


{% endblock %}