{# detail d'un stagiaire  #}

{% extends 'base.html.twig' %}

{% block title %}Détail d'un stagiaire{% endblock %}

{% block body %}

<section id="stagiaire-detail">
    <h2>Détail d'un stagiaire</h2>
    <p><strong>{{stagiaire}}</strong></p>
    <div id="stagiaire-info">
        <div class="stagiaire-info-generale">
            <p><strong>Sexe:</strong> {{stagiaire.sexe}}</p>
            <p><strong>Ville:</strong> {{stagiaire.ville}}</p>
            <p><strong>Date de naissance:</strong> {{stagiaire.dateNaissance | date("d.m.Y")}}</p>
        </div>
        <div class="stagiaire-info-contact">
            <p><strong>Téléphone:</strong> {{ stagiaire.telephone }}</p>
            <p><strong>Mail:</strong> {{ stagiaire.mail }}</p>
        </div>
    </div>
    
    <h3>Sessions prévues</h3>
    
    {# collections de sessions  #}
    {% for session in stagiaire.sessions %}
    
        <p><a href="{{ path('show_session', {'id': session.id}) }}">{{session}}</a> ({{session.dateDebut | date("d-m-Y")}} au {{session.dateFin | date("d-m-Y")}} )</p>
        
    {% endfor %}
    {# si connecté et si admin  #}

    {% if app.user and app.user.roles[0] == "ROLE_ADMIN" %}
        <a href="{{ path('delete_stagiaire', {'id': stagiaire.id}) }}" class="add-btn"><button>Delete</button></a>
  {% endif %}

    
        
    
</section>


{% endblock %}