{# detail d'un user  #}

{% extends 'base.html.twig' %}

{% block title %}Détail d'un utilisateur{% endblock %}

{% block body %}

<section id="user-detail">
    <h2>Détail de l'utilisateur</h2>
    <p><b>Pseudo: </b>{{user}}</p>
    <p><b>Email: </b>{{user.email}}</p>
    <p><b>Rôle(s): </b>{{user.roleStr}}</p>

    
    {% if "ROLE_FORMATEUR" in user.roles %}
        <h3>Session en tant que formateur référent</h3>
        
        {% if user.sessionFormateurs is empty %}
            <p>Aucune formation</p>
        {% else %}
            {% for session in user.sessionFormateurs %}
            <p><a href="{{path('show_session', {'id': session.id})}}">{{ session }}</a> ({{session.dateDebut | date("d.m.Y")}} - {{session.dateFin | date("d.m.Y")}})</p>
            {% endfor %}
        {% endif %}
    {% endif %}

    <hr>
    <h3>Changer les rôles</h3>
    {# comme il n'y a que 2 roles (et user par défaut), je vérifie à la main  #}
    {% if "ROLE_FORMATEUR" in user.roles %}
        {% set checkForma = 'checked' %}
      {% else %}
        {% set checkForma = '' %}
    {% endif %}
    {% if "ROLE_ADMIN" in user.roles %}
        {% set checkAdm = 'checked' %}
      {% else %}
        {% set checkAdm = '' %}
    {% endif %}

    <form action="{{ path('upgrade_role', {'id': user.id})}}" method="get">
        <p>
            <input type="checkbox" id="formateur" name="roles[]" value="ROLE_FORMATEUR" {{checkForma}} />
            <label for="formateur">Formateur</label>
        </p>
        <p>
            <input type="checkbox" id="admin" name="roles[]" value="ROLE_ADMIN" {{checkAdm}}/>
            <label for="admin">Admin</label>
        </p>
        <button type="submit" name="submit">Valider</button>
    </form>
</section>



{% endblock %}