{# liste des sessions  #}
{% extends 'base.html.twig' %}

{% block title %}Liste des sessions{% endblock %}

{% block body %}

<section id="sessions">
  <h2>Liste des sessions de formation</h2>
  {# ----------------------------------------------sessions en cours---------------------------- #}
  <h3>En cours</h3>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr class="table-danger">
          <th scope="col">Formation</th>
          <th scope="col">Début</th>
          <th scope="col">Fin</th>
          <th scope="col">Places totales</th>
          <th scope="col">Places prises</th>
          <th scope="col">Places restantes</th>
        </tr>
      </thead>
      <tbody>
  {% for session in currentSession %}
    {% if session.ouvert == true %}
      <tr>
        {% set lock = "" %}
    {% else %}
      <tr class="table-secondary">
        {% set lock = "(verrouillé)" %}
    {% endif %}
          
              <td><a href="{{ path('show_session', {'id': session.id}) }}" class="section-detail">{{session}}</a> {{lock}}</td>
              <td>{{ session.dateDebut | date("d.m.Y") }}</td>
              <td>{{ session.dateFin | date("d.m.Y") }}</td>
              <td>{{ session.nbPlace }}</td>
              <td>{{session.nbInscription}}</td>
              <td>{{session.nbDispo}}
                {# si connecté, admin ou personne qui a créée la session #}
                {% if app.user %}
                  {% if "ROLE_ADMIN" in app.user.roles or app.user == session.user %}
                    <a href="{{ path('edit_session', {'id': session.id}) }}"><i class="fa-solid fa-pen"></i></a>
                  {% endif %}
                {% endif %}
              </td>
          </tr>
  {% endfor %}
      </tbody>
  </table>
  </div>
    {# ----------------------------------------------sessions à venir---------------------------- #}
    <h3>A venir</h3>
    <div class="table-responsive">

      <table class="table table-striped">
        <thead>
          <tr class="table-danger">
            <th scope="col">Formation</th>
            <th scope="col">Début</th>
            <th scope="col">Fin</th>
            <th scope="col">Places totales</th>
            <th scope="col">Places prises</th>
            <th scope="col">Places restantes</th>
          </tr>
        </thead>
        <tbody>
    {% for s in nextSessions %}
      {% if s.ouvert == true %}
        <tr>
          {% set lock = "" %}
      {% else %}
        <tr class="table-secondary">
          {% set lock = "(verrouillé)" %}
      {% endif %}
            
                <td><a href="{{ path('show_session', {'id': s.id}) }}" class="section-detail">{{s}}</a> {{lock}}</td>
                <td>{{ s.dateDebut | date("d.m.Y") }}</td>
                <td>{{ s.dateFin | date("d.m.Y") }}</td>
                <td>{{ s.nbPlace }}</td>
                <td>{{s.nbInscription}}</td>
                <td>{{s.nbDispo}}
                  {# si connecté, admin ou personne qui a créée la session #}
                  {% if app.user %}
                    {% if "ROLE_ADMIN" in app.user.roles or app.user == s.user %}
                      <a href="{{ path('edit_session', {'id': s.id}) }}"><i class="fa-solid fa-pen"></i></a>
                    {% endif %}
                  {% endif %}
                </td>
            </tr>
    {% endfor %}
        </tbody>
    </table>

    </div>

  {# ----------------------------------------------sessions finies---------------------------- #}
  <h3>Finies</h3>
  <div class="table-responsive">

    <table class="table table-striped">
      <thead>
        <tr class="table-danger">
          <th scope="col">Formation</th>
          <th scope="col">Début</th>
          <th scope="col">Fin</th>
          <th scope="col">Places totales</th>
          <th scope="col">Places prises</th>
          <th scope="col">Places restantes</th>
        </tr>
      </thead>
      <tbody>
  {% for c in finishedSessions %}
    {% if c.ouvert == true %}
      <tr>
        {% set lock = "" %}
    {% else %}
      <tr class="table-secondary">
        {% set lock = "(verrouillé)" %}
    {% endif %}
          
              <td><a href="{{ path('show_session', {'id': c.id}) }}" class="section-detail">{{c}}</a> {{lock}}</td>
              <td>{{ c.dateDebut | date("d.m.Y") }}</td>
              <td>{{ c.dateFin | date("d.m.Y") }}</td>
              <td>{{ c.nbPlace }}</td>
              <td>{{c.nbInscription}}</td>
              <td>{{c.nbDispo}}
                {# si connecté, admin ou personne qui a créée la session #}
                {% if app.user %}
                  {% if "ROLE_ADMIN" in app.user.roles or app.user == c.user %}
                    <a href="{{ path('edit_session', {'id': c.id}) }}"><i class="fa-solid fa-pen"></i></a>
                  {% endif %}
                {% endif %}
              </td>
          </tr>
  {% endfor %}
      </tbody>
  </table>

</div>


  {% if app.user %}
  <div class="btn-container">
    <a href="{{ path('new_session') }}" class="add-btn"><button>Créer session</button></a>
  </div>
    
  {% endif %}
</section>


{% endblock %}
