{# liste des sessions  #}
{% extends 'base.html.twig' %}

{% block title %}Liste des sessions{% endblock %}

{% block body %}

<section id="sessions">
  <h1>Liste des sessions de formation</h1>
  <table class="table table-striped">
      <thead>
        <tr class="table-danger">
          <th scope="col">Formation</th>
          <th scope="col">Début</th>
          <th scope="col">Fin</th>
          <th scope="col">Places totales</th>
          <th scope="col">Places prises</th>
          <th scope="col">Places restantes</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
  {% for session in sessions %}
          <tr>
            
              <td><a href="{{ path('show_session', {'id': session.id}) }}" class="section-detail">{{session}}</a></td>
              <td>{{ session.dateDebut | date("d.m.Y") }}</td>
              <td>{{ session.dateFin | date("d.m.Y") }}</td>
              <td>{{ session.nbPlace }}</td>
              <td>{{session.nbInscription}}</td>
              <td>{{session.nbDispo}}</td>
              <td><a href="{{ path('edit_session', {'id': session.id}) }}"><i class="fa-solid fa-pen"></i></a></td>
          </tr>
  {% endfor %}
      </tbody>
  </table>
  <a href="{{ path('new_session') }}" class="add-btn"><button>Créer session</button></a>
</section>


{% endblock %}
