{# formulaire d'ajout ou modification d'une session #}


{% extends 'base.html.twig' %}

{% block title %}Ajouter session{% endblock %}

{% block body %}

{# s'il recoit edit alors c'est une modification #}
{% if edit %}
       <h1>Modifier la session</h1>
       
{% else %}
   <h1>Créer une nouvelle session</h1>
{% endif %}

{# recupere le formulaire automatiquement  #}
{# {{ form(formAddSession) }} #}

{# possibilité de detailler #}

{{ form_start(formAddSession) }}
<div class="row">
    {{ form_row(formAddSession.formation) }}
    <div class="col-sm">
        {{ form_row(formAddSession.dateDebut) }}
    </div>
    <div class="col-sm">
        {{ form_row(formAddSession.dateFin) }}
    </div>
    {{ form_row(formAddSession.nbPlace) }}

</div>

 {{ form_row(formAddSession.Valider) }}
{{ form_end(formAddSession) }}


{% endblock %}