{# formulaire d'ajout d'une session #}

{% extends 'base.html.twig' %}

{% block title %}Ajouter une session{% endblock %}

{% block body %}
<section id="sessions-new">

    <h2>Créer une nouvelle session</h2>
    <p>L'ajout des <b>stagiaires</b> se fait par la suite</p>
 
 
 {{ form_start(form) }}
 <div class="row">
     {{ form_row(form.formation) }}
     <div class="col-sm">
         {{ form_row(form.dateDebut) }}
     </div>
     <div class="col-sm">
         {{ form_row(form.dateFin) }}
     </div>
     {{ form_row(form.nbPlace) }}
 
     {# construire dynamiquement la liste des modules existants à partir de Programme  #}
     <h2>Programme de la session :</h2>
 
     {# <div> #}
     <div class="form-group row ">
         <div class="col-form-label col-sm-2">&nbsp;</div>
             <div id="programme-fields-list" class="col-sm-10 remove-collection-widget"
                 data-prototype="{{ form_widget(form.programmes.vars.prototype)|e }}"
                 data-session="{{sessionId}}"
                 data-widget-tags="{{ '<p></p>'|e }}"
                 data-widget-counter="{{ form.programmes|length }}">
                 {% for programmeField in form.programmes %}
                 <p>
                     {{ form_errors(programmeField) }}
                     {{ form_widget(programmeField, {'attr': {'class': 'borders'}}) }}
                 </p>
                 {% endfor %}
             </div>
         </div>
         <div>
         <div>
         {# <div class="form-group row flex-action"> #}
             <button type="button" 
             class="add-another-collection-widget button"
             data-list-selector="#programme-fields-list">+</button>
         </div>
         {# empêche l'apparition d'une légende "programmes", si la collection est vide (en cas de création d'une nouvelle session) #}
         {% do form.programmes.setRendered %}
     </div>
       
 
 </div>
 <div class="add-btn">
     {{ form_row(form.Valider) }}
 </div>
 {{ form_end(form) }}


</section>


{% endblock %}