{# detail d'une session  #}


{% extends 'base.html.twig' %}

{% block title %}Détail d'une session{% endblock %}

{% block body %}

<section id="session-detail">
    <h2>{{ session}}</h2>
    <p>Détail de la session</p>
    <div id="session-info">
      {# -----------------------------------------diagramme avec chart.js  #}
      <div>
        <canvas id="myChart"></canvas>
      </div>
      <div class="session-programme">
        {# -------------------------------------------------programme  #}
        {% for programme in session.programmes %}
        <p><span id="programme-module">{{programme.module}}</span>: <span id="programme-duree">{{programme.duree}}</span> jours
          
          {% if app.user %}
            <a href="{{ path('remove_programme', {'id': programme.id}) }}"><i class="fa-solid fa-x"></i></a>
          {% endif %}
        </p>
        {% endfor %}
      </div>
      {# ------------------------------------------------- infos  #}
      <div class="session-info-general">
          {# si personne connectée est la personne qui a créé la session ou admin #}
          {% if app.user %}
            {% if app.user == session.user or "ROLE_ADMIN" in app.user.roles %}
              <a href="{{ path('edit_session', {'id': session.id}) }}" class="session-edit-pen"><i class="fa-solid fa-pen"></i></a>
            {% endif %}
          {% endif %}
          <div class="session-detail-card">
            
            {# si la session est verrouillée  #}
          {% if session.ouvert %}
            {% else %}
            <p><i class="fa-solid fa-chevron-right"></i><b>Fermée</b></p>
          {% endif %}
          <p><i class="fa-solid fa-chevron-right"></i>Du {{session.dateDebut | date("d.m.Y")}} au {{session.dateFin | date("d.m.Y")}} </p>
          {# au moins 2 modules, pour la conjugaison  #}
          {% if session.programmes|length > 1 %}
            <p><i class="fa-solid fa-chevron-right"></i><span class="nb-green" id="nbModule">{{session.programmes|length}}</span> modules</p>
            {% else %}
            <p><i class="fa-solid fa-chevron-right"></i><span class="nb-green">{{session.programmes|length}}</span> module</p>
          {% endif %} 
          <p><i class="fa-solid fa-chevron-right"></i>Durée: {{ session.duree }}</p>
  
          {# au moins 2 places restantes, pour la conjugaison  #}
          {% if session.nbDispo > 1 %}
            <p><i class="fa-solid fa-chevron-right"></i><span class="nb-green">{{session.nbDispo}}</span> places restantes</p>
            {# si la session n'a plus de place  #}
            {% elseif session.nbDispo ==0 %} 
            <p><i class="fa-solid fa-chevron-right"></i><span class="nb-green">0</span> place restante</p>
            {% else %}
            <p><i class="fa-solid fa-chevron-right"></i><span class="nb-green">1</span> place restante</p>
            {% endif %}
            <p>
              <i class="fa-solid fa-chevron-right"></i>Formateur référent: 
              {# si admin  #}
              {% if app.user and "ROLE_ADMIN" in app.user.roles %}
                <a href="{{ path('show_user', {'id': session.user.id}) }}">{{session.user}}</a>
              {% else %}
                <b>{{ session.user }}</b>
              {% endif %}
            </p>
            {# si personne admin  #}
            {% if app.user and "ROLE_ADMIN" in app.user.roles %}
              {% if session.ouvert %}
                <a href="{{ path('lock_session', {'id': session.id}) }}"><button type="button" class="btn btn-outline-dark">Verrouiller</button></a>
                {% else %}
                <a href="{{ path('lock_session', {'id': session.id}) }}"><button type="button" class="btn btn-outline-dark">Déverrouiller</button></a>
              {% endif %}
        
            {% endif %}

          </div>
      </div>
    </div>

    
    {#  -------------------------------------------------stagiaires inscrits #}
    <h3>Stagiaires inscrits</h3>
    {% if session.inscription is empty %}
      <p>Aucun stagiaire inscrit</p>
      {% else %}
      <table class="table table-striped">
          <thead>
            <tr class="table-dark">
              <th scope="col">#</th>
              <th scope="col">Prénom</th>
              <th scope="col">Nom</th>
              <th scope="col">Téléphone</th>
              <th scope="col">Ville</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {# index  #}
            {% set i = 0 %}
          {% for stagiaire in session.inscription %}
            {% set i = i + 1 %}
          <tr>
              <td>{{i}}</td>
              <td><a href=" {{ path('show_stagiaire', {'id': stagiaire.id})}}  ">{{ stagiaire.prenom }}</a></td>
              <td>{{stagiaire.nom}}</td>
              <td>{{stagiaire.telephone}}</td>
              <td>{{stagiaire.ville}}</td>
              <td>
                {# seulement si la session est ouverte  #}
                {% if app.user and session.ouvert == true %}
                  <a href="{{ path('remove_stagiaire_session', {'idStagiaire': stagiaire.id, 'idSession': session.id}) }}"><i class="fa-solid fa-xmark"></i></a>
                {% endif %}
              </td>
          </tr>
          
      {% endfor %}
          </tbody>
      </table>

    {% endif %}
    {% if session.nbDispo > 0 %}
      <h3>Stagiaires non inscrits </h3>

      {# Stagiaire Non Inscrit = SNI  #}
      {% for SNI in nonInscrits %}
        <p><a href="{{ path('show_stagiaire', {'id': SNI.id})}}">{{SNI}}</a> 
          {# seulement si la session est ouverte  #}
          {% if app.user and session.ouvert == true %}
            <a href="{{ path('add_stagiaire_session', {'idStagiaire': SNI.id, 'idSession': session.id}) }}" class="session-add">ajouter</a></p>
          {% endif %}     
      {% endfor %}
    {% endif %}
    {# si connecté et si admin  #}
    {% if app.user and "ROLE_ADMIN" in app.user.roles %}
      <p><a class="btn btn-danger" href="{{ path('delete_session', {'id': session.id}) }}">Supprimer cette session</a></p>
    {% endif %}
</section>

{% endblock %}
