{# detail d'une session  #}


{% extends 'base.html.twig' %}

{% block title %}Détail d'une session{% endblock %}

{% block body %}

<section id="session-detail">
    <h1>{{ session}}</h1>
    <p>Détail de la session</p>
    
    {# programme  #}
    {% for programme in session.programmes %}
      {{programme.info}} jours 
      <a href="{{ path('delete_programme', {'id': programme.id}) }}"><i class="fa-solid fa-x"></i></a>
      <br>
    {% endfor %}
    
    {# infos  #}
    <p>Du {{session.dateDebut | date("d.m.Y")}} au {{session.dateFin | date("d.m.Y")}} </p>
    <p>{{session.programmes|length}} modules</p>
    <p>Durée: {{ session.duree }} mois</p>
    <p>{{ session.nbPlace }} places restantes</p>
    
    <p><a href="{{ path('edit_session', {'id': session.id}) }}">Modifier</a></p>
    {# stagiaires inscrits #}
    <h2>Stagiaires inscrits</h2>
    <table class="table table-striped">
        <thead>
          <tr class="table-dark">
            <th scope="col">Prénom</th>
            <th scope="col">Nom</th>
            <th scope="col">Téléphone</th>
            <th scope="col">Ville</th>
          </tr>
        </thead>
        <tbody>

    {% for stagiaire in session.inscription %}
        <tr>
            <td><a href=" {{ path('show_stagiaire', {'id': stagiaire.id})}}  ">{{ stagiaire.prenom }}</a></td>
            <td>{{stagiaire.nom}}</td>
            <td>{{stagiaire.telephone}}</td>
            <td>{{stagiaire.ville}}</td>
        </tr>
        
    {% endfor %}
        </tbody>
    </table>
    <h3>Stagiaires non inscrits </h3>

    {# Stagiaire Non Inscrit = SNI  #}
    {% for SNI in nonInscrits %}
      {{SNI}}
      <a href="{{ path('add_stagiaire_session') }}">Ajouter</a>
    {% endfor %}
</section>



{% endblock %}