{# formulaire d'ajout ou modification d'un module #}


{% extends 'base.html.twig' %}

{% block title %}Formulaire module{% endblock %}

{% block body %}

{# s'il recoit edit alors c'est une modification #}
{% if edit %}
       <h2>Modifier le module</h2>
       
{% else %}
   <h2>Ajouter un module</h2>
{% endif %}


{# recupere le formulaire automatiquement  #}
{# {{ form(formAddModule) }} #}

{# possibilité de detailler #}
<section class="sessions-form">

   {{ form_start(formAddModule) }}
   
        {{ form_row(formAddModule.nom) }}
        {{ form_row(formAddModule.categorie) }}
   
        <div class="btn-container">
         <div class="add-btn">
            {{ form_row(formAddModule.Valider) }}
   
         </div>
        </div>
   {{ form_end(formAddModule) }}

</section>



{% endblock %}