{# page profil  #}

{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
{# {{ dump(app.user.roleStr) }} #}
<h2>Ton profil</h2>


<p>Email : {{ app.user.email}} </p>
<p>Pseudo : {{app.user }} </p>
<p>Role : {{app.user.roleStr}}</p>
<a href="{{ path('delete_profil') }}">Supprimer son compte</a>
{% endblock %}