{# formulaire d'ajout d'une categorie, fichier provisoire  #}


 {% extends 'base.html.twig' %}

 {% block title %}Ajouter catégorie{% endblock %}
 
 {% block body %}

<h2>Ajouter une catégorie</h2>
{# recupere le formulaire automatiquement  #}
{{ form(formAddCategorie) }}

{# possibilité de detailler #}

{# {{ form_start(formAddCategorie) }}

     {{ form_row(formAddCategorie.nom) }}

 {{ form_row(formAddCategorie.Valider) }}
{{ form_end(formAddCategorie) }} #}

{# <h2>Ajouter son premier module (optionnel)</h2>
{{ form_start(formAddModule) }}

    {{ form_row(formAddModule.nom) }}
    {{ form_row(formAddModule.Valider) }}
{{ form_end(formAddModule) }} #}

{% endblock %}